/node_modules
/public/hot
/public/storage
/storage
/vendor
/tests
/bootstrap
.env.example
.env
webpack.mix.js
server.php
phpunit.xml
artisan
.styleci.yml
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
laravel-echo-server.lock
.idea/workspace.xml
